* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease;
}

body {
    font-family: montserrat; /* вот тут */
    background-color: #F2EFEB;
}

.header_row {
    display: flex;
    height: 88%;
    align-items: center;
}

.header_col {
    flex-basis: 50%;
}

.header_row .header_col img {
    width:70%; 
    height:auto;
    padding-top: 90px;
    padding-left: 160px;
}

.header_row .header_col img:hover {
    transform: scale(1.1);
}

.header_row .header_col h1 {
    padding-left: 150px;
    font-weight: 700 bold;
    font-size: 70px;
    color: #D98859;
}

.header_row .header_col p {
    padding-left: 150px;
    font-weight: 200 italic;
    font-size: 20px;
    line-height: 50px;
    color: #2E363E;
}

nav {
    background: #13402B;
    height: 80px;
    width: 100%;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: #216b49;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #216b49;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #216b49;
    }
    #check: :checked ~ ul {
        left: 0;
    }
}

.main_text p {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 200px;
    line-height: 40px;
}

.features__section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 1rem;
}

.features__top {
    text-align: center;
}

.features__top h1 {
    font-size: 30px;
    margin-bottom: 1rem;
    color: #216b49;
    letter-spacing: 1.5px;
}

.features__top p {
    font-weight: 200;
    font-size: 20px;
}

.feature__item {
    display: flex;
    background-color: #fefefe;
    border: 1px solid #D98859;
    border-radius: 1rem;
    width: 45%;
    margin-top: 2rem;
}

.features__container {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature__item i {
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    color:silver;
}

.featureItem__info {
    padding: 1.5rem;
}

.featureItem__info h3 {
    color: #D98859;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3rem;
}

.featureItem__info p {
    color: silver;
    letter-spacing: 0.01rem;
    font-weight: 100;
}

.feature__item:hover i {
    transform: scale(1.1);
}

.team-section {
    width: 100%;
    padding-top: 200px;
}

.team-section .container {
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
}

.team-section .container .row {
    width: 60%;
    margin: auto;
}

.team-section .container .row .title {
    text-align: center;
    margin-top: 50px;
}

.team-section .container .row .title h1 {
    color: #216b49;
    letter-spacing: 1.5px;
    font-size: 30px;
    margin-bottom: 1rem;
}

.team-section .container .row .title p {
    font-size: 20px;
    /* margin: 30px 0px; */
    color: black;
}

.team-section .container .team-card {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 40px;
    margin-top: 4rem;
}

.team-section .container .team-card .card {
    width: 100%;
    background-color: white;
    display: flex;
    border: 1px solid #D98859;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.team-section .container .team-card .card:hover {
    background-color: #f3f3f3;
    transition: 0.3s;
}

.team-section .container .team-card .card .image-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #277d55;
}

.team-section .container .team-card .card .content {
    width: 100%;
    text-align: center;
}

.team-section .container .team-card .card .content h3 {
    color: #D98859;
    letter-spacing: 0.1rem;
    margin-top: 1.5px;
}

.team-section .container .team-card .card .content p {
    color: silver;
    letter-spacing: 0.01rem;
    font-weight: 100;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .team-section .container .team-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .team-section .container .team-card {
        grid-template-columns: 1fr;
    }
}

.budget {
    justify-content: center;
    align-items: center;
}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
    justify-content: center;
    align-items: center;
}

.form_container {
    padding: 20px;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
   /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #216b49;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

#testimonial {
    background-color: rgb(255, 255, 255);
}
.testimonial .testimonial-slide {
	width: 60%;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}
.testimonial .testimonial-slide .image {
	width: 150px;
	height: 150px;
	margin: auto;
	border: 7px solid #D98859;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}
.testimonial .testimonial-slide .content p {
	position: relative;
	padding:0 50px;
	margin-bottom: 50px;
	color: #BABABA;
}

.budgeting__info {
    padding: 1.5rem;
    width: 60%;
}

.budgeting__info h1 {
    color: #D98859;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3rem;
    text-align: center;
}

.budgeting__info p {
    color: rgb(0, 0, 0);
    letter-spacing: 0.01rem;
    font-weight: 100;
    text-align: center;
    width: 60%;


    display: table-cell